.form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.input-form {
  margin-top: 10px;
  width: 50%;
  padding: 10px 10px;
}
.btn-form {
  margin-top: 40px;
  width: 20%;
  padding: 10px 10px;
}
